/* h1, h5 {
    text-align: center;
    margin-top: 15px;
    /* font-family: 'Shadows Into Light', cursive; */
    /* font-family: 'Mansalva', cursive; */
    /* font-family: 'Baloo Bhai', cursive; */
    /* font-family: 'Patua One', cursive; */
    /* font-family: 'Gothic A1', sans-serif; */
    /* font-family: 'Prociono', serif; */
    /* font-family: 'Merienda One', cursive; */
/* } */ 
/* 
#home-text {
    text-align: center;
}

#header-text {
    color: #f6f045;
}

#main-section {
    resize: vertical; */
    /* background: url("../images/light_honeycomb.png"); */
/* } */
